<ul>
<% @companies.each do |company| %>

<li>id: <%=company.id %>, Company: <%= company.name %>, City: <%= company.city %>, Market Capitalization: <%= company.market_capitalization %>, Profit Margin: <%= company.profit_margin %></li>

<% end %>
</ul>