<!DOCTYPE html>
<html>
<head>
  <title>GeneralAssembly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>General Assembly</h1>

<%= flash[:notice] %>

<%= yield %>

</body>
</html>
