<% if @shelter.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(@shelter.errors.count, "error") %> prohibited this shelter from being saved:</p>
 
    <ul>
    <% @shelter.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @shelter do |f| %>
<p>Name: <%= f.text_field :name %></p>
<p><%= f.submit %></p>
<% end %>